th{
   width:700px ;
   height: 60px;
   background-color: yellow;
}
table{
    width: 700px;
    height: 250px;
    background-color: blue;
}
.ger{
width: 700px;
height: 60px;
background-color: yellow;
}
.ert{
    width: 300px;
    
    background-color: yellow;
}
.ter{
    background-color: yellow;
}